#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 100%;
}

#container>.btn{
    width: 80%;
    display: flex;
    justify-content: center;
}

#container>.btn>button{
    background-color: black;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    width: 150px;
    height: 40px;
}

#container>.UserData{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    height: auto;
    width: 80%;
    padding: 60px;
    gap: 30px;
}

#container>.UserData>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 20px 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#container>.UserData>div>img{
    width: 150px;
    height: 150px;
}

#container>.UserData>div:hover{
    transition: 500ms;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}